*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
}
.logo{
    width: 70px;
}
.main img{
    width: 300px;
}
.footer img{
    width: 30px;
}

/* Start with the menu responsive */
.menu{
    background-color:#7f0000;
    display: flex;
    justify-content: space-around;
}

.menu ul{
    list-style: none;
    display: flex;
    
}
.menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul a{
    text-decoration: none;
    color: azure;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    
}
.menu ul a:hover{
    transition: 0.1s;
    background-color: #c62828;
}
.active{
    background-color: #c62828;
}
.lmenu{
    display: none;
    align-self: center;
    margin-right: 50px;
    width: 35px;
    height: 35px;
}
.show{
    transition: 0.3s all;
    top: 70px;
}
@media screen and (max-width:600px){
    .lmenu{
        display: inline-flex;
    }
    ul{
        z-index: -1;
        transition: 0.3s all;
        width: 100%;
        background-color: #424242;
        position: absolute;
        flex-direction: column;
        top: -120px;
    }
    .main{
        z-index: -4;
    }
    
}
/* start with the main */
h1{
    text-align: center;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.main-content p{
    text-align: center;
    margin: 20px;
}
div[class*="project"]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


